@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.test-detail-card-height {
  height: 360px;
}

.u-device-list .ant-list-item {
  border-bottom: 1px solid #2c2f4d !important;
}

.ant-list-item-content {
  flex: auto !important;
}

.u-grid--color > div {
  background: #151925 !important;
}

.u-card--background {
  background: #2c2f4d !important;
}

.ant-card-head-title {
  color: #4a9fef;
}

.ant-list-item-meta-title {
  color: #9295b8 !important;
}

.u-device-list .ant-list-item-content > div {
  color: white;
  font-weight: bold;
}

.ant-collapse-header {
  background: #2c2f4d;
  line-height: 8px !important;
}

.ant-collapse-content-box {
  background: #2c2f4d;
}

.ant-table-thead th {
  background: #2c2f4d !important;
}

.ant-table-thead th {
  border-bottom: 1px solid #151925 !important;
}

.ant-table-thead th div {
  color: #4a9fef;
  font-weight: 800;
}

.ant-table-tbody td {
  background: #2c2f4d !important;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid #151925 !important;
}

.ant-collapse-header .arrow {
  margin: 3px 0px 3px 7px;
  font-size: 14px !important;
  color: #4a9fef;
}

.u-header-container {
  display: flex;
  justify-content: space-between;
}

.u-header-test-class {
  padding: 9px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.u-header-sub-container {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
}

.u-header-count {
  font-size: 18px;
  margin: 0px;
  text-align: center;
  font-weight: 800;
}

.u-header-status {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.u-total--color {
  color: white;
}
.u-passed--color {
  color: #19BA98;
}
.u-failed--color {
  color: #fa134a;
}
.u-skipped--color {
  color: #ffc200;
}

.u-header-divider {
  border-right: 1px solid #151925;
  padding-right: 15px;
}

.u-duration--color {
  color: #9295b8;
}

.u-chart-container {
  background: #ececec;
  padding: 20px;
}

.u-chart-container h2 {
  color: #4a9fef;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.ant-carousel .slick-slide {
  text-align: center;
  /* height: 160px;
  line-height: 160px; */
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.ant-collapse {
  border: 0px !important;
  background: #151925 !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 0px !important;
}

.ant-collapse-item {
  margin-bottom: 10px;
}

.ant-collapse-content {
  border-top: 1px solid #4a9fef !important;
}
