.dashboard-card-height {
  height: 320px;
}

.u-card--background {
  background: #2c2f4d !important;
}

.ant-col-8 > div {
  background: #151925 !important;
}

.ant-table-tbody tr {
  background: white;
}

.u-main-chart-container {
  background: #ececec;
  padding: 20px;
}

.u-main-chart-container h2 {
  color: #4a9fef;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.u-main-grid--color > div {
  background: #151925 !important;
}

.ant-pagination-item-link {
  background: #2c2f4d !important;
  color: white !important;
}

.ant-pagination-item {
  background: #2c2f4d !important;
}

.u-main-list .ant-list-item {
  border-bottom: 1px solid #2c2f4d !important;
}

.u-main-list .ant-list-item-content > div {
  color: white;
  font-weight: bold;
}
